<h1 class="d-flex">Sign In <a class="btn btn-outline-primary ms-auto my-1" href="/user/signup">Sign Up</a></h1>
<form action="/user/signin" method="POST" autocomplete="off">
  <fieldset>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="Email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" pattern="^[a-zA-Z0-9]{8,14}$" placeholder="密碼 8~14 英數字">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
  </fieldset>
</form>
{{> flash}}